<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>足迹地图 -- obaby@mars</title>
    <meta name="keywords" content="我的足迹地图">
    <meta name="description" content="Babyface 的女王大人">
    <meta name="referrer" content="unsafe-url">

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
    <script src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=sANLK5yFf5vlw3iE5gvpe7ZYSCvtTDon"></script>

</head>
<body>
<div id="map"></div>

<!-- 足迹地图 -->
<!-- by:obaby -->
<!-- https://oba.by -->
<!-- https://h4ck.org.cn -->
<!-- https://zhongxiaojie.cn-->
<!-- https://nai.dog -->
<script src="/static/js/footprint.js"></script>
</body>
</html>
